<div class="d-flex flex-row">
    <div class="w-50 text-light bg-dark d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="d-flex flex-row align-items-center">
            <div>
                <img src="assets/favicon-light.png" width="80" height="80">
            </div>
            <div class="fs-2">
                Mi app de notas
            </div>
        </div>
    </div>
    <div class="w-50 d-flex flex-column min-vh-100 justify-content-center align-items-center">
        <div class="card p-4 w-75">
            <div class="fs-2">
                Login
            </div>
            <div *ngIf="invalidPassword" class="text-danger error-size">
                Contraseña invalida
            </div>
            <div *ngIf="userNotFound" class="text-danger error-size">
                Usuario inexistente
            </div>
            <div class="mt-3">
                <form [formGroup]="form">
                    <div class="row mb-4">
                        <div class="col-12 mb-3">
                            <div class="input-group">
                                <span class="input-group-text lbl-width">Username *</span>
                                <input type="text" class="form-control" placeholder="Username"
                                    formControlName="username">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                <span class="input-group-text lbl-width">Contraseña *</span>
                                <input type="password" class="form-control" placeholder="Contraseña"
                                    formControlName="password">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="d-flex flex-row-reverse mt-2">
                <button type="button" class="btn btn-primary ms-auto" (click)="login()">Login</button>
                <button type="button" class="btn btn-link" (click)="open(content)">¿No tienes una cuenta?</button>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Registrarse</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="duplicatedUsername" class="text-danger error-size mb-2">
            El nombre de usuario ya existe
        </div>
        <form [formGroup]="signUpForm">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="input-group">
                        <span class="input-group-text lbl-width">Username *</span>
                        <input type="text" class="form-control" placeholder="Username" formControlName="username">
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="input-group">
                        <span class="input-group-text lbl-width">Nombres *</span>
                        <input type="text" class="form-control" placeholder="Nombres" formControlName="firstName">
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="input-group">
                        <span class="input-group-text lbl-width">Apellidos *</span>
                        <input type="text" class="form-control" placeholder="Apellidos" formControlName="lastName">
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <span class="input-group-text lbl-width">Contraseña *</span>
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="d-grid gap-2 w-100">
            <button type="button" class="btn btn-primary btn-block" (click)="signUp(content)">Registrarse</button>
        </div>
    </div>
</ng-template>