<div class="d-flex flex-row align-items-center mb-3">
    <div class="fs-2 me-auto">
        Notes
    </div>
    <div>
        <button type="button" class="btn btn-outline-primary" (click)="newNote()">Add Note <i
                class="bi bi-plus-square ms-2"></i></button>
    </div>
</div>

<div class="card mb-3 p-4" *ngFor="let note of notesObservable | async">
    <div class="d-flex flex-row align-items-center">
        <div class="me-5">
            <img [src]="note.image" alt="" width="90" height="90" class="rounded-circle me-2"
                loadImgError="assets/default-category-image.jpeg">
        </div>
        <div class="me-auto">
            <div>
                <b>Name: </b> {{note.name}}
            </div>
            <div>
                <b>Description: </b>{{note.description}}
            </div>
            <div>
                <b>Category: </b>{{note.category}}
            </div>
            <div>
                <b>Status: </b>{{note.status === 'TO_DO'? 'To do': note.status === 'IN_PROGRESS' ? 'In Progress' : note.status === 'DONE'? 'Done': '' }}
            </div>
        </div>
        <div>
            <button class="btn btn-link text-decoration-none text-primary me-5" (click)="editNote(note._id)">
                <i class="bi bi-pencil me-2"></i> Edit
            </button>
            <button class="btn btn-link text-decoration-none text-danger me-4" (click)="deleteNote(note._id)">
                <i class="bi bi-trash me-2"></i> Delete
            </button>
        </div>
    </div>
</div>