<div class="h-100" *ngIf="(notesObservable|async)?.length">
    <div class="h-100 d-flex flex-column align-items-stretch">
        <div class="fs-2 mb-2">
            Mis notas
        </div>
        <div class="custom-header-height">
            <div class="row h-100" cdkDropListGroup>
                <div class="col-sm-12 col-md-4 ch">
                    <div class="card p-3 h-100" cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
                        <div class="fs-5 mb-2">
                            Por hacer
                        </div>
                        <div class="overflow-auto rounded">
                            <div class="card p-2 move-cursor mb-2" *ngFor="let item of todo" cdkDrag>
                                <div class="d-flex flex-row align-items-center">
                                    <div>
                                        <img class="note-img me-3" [src]="item.image" loadImgError="assets/image-error.png">
                                    </div>
                                    <div class="flex-fill">
                                        <div>
                                            {{item.description}}
                                        </div>
                                        <hr class="mt-1 mb-1">
                                        <div>
                                            <span><strong>Nombre: </strong></span>{{item.name}}
                                        </div>
                                        <div>
                                            <span><strong>Categoría: </strong></span>{{item.category}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 ch">
                    <div class="card p-3 h-100" cdkDropList [cdkDropListData]="inProgress"
                        (cdkDropListDropped)="drop($event)">
                        <div class="fs-5 mb-2">
                            En progreso
                        </div>
                        <div class="overflow-auto rounded">
                            <div class="card p-2 move-cursor mb-2" *ngFor="let item of inProgress" cdkDrag>
                                <div class="d-flex flex-row align-items-center">
                                    <div>
                                        <img class="note-img me-3" [src]="item.image" loadImgError="assets/image-error.png">
                                    </div>
                                    <div class="flex-fill">
                                        <div>
                                            {{item.description}}
                                        </div>
                                        <hr class="mt-1 mb-1">
                                        <div>
                                            <span><strong>Nombre: </strong></span>{{item.name}}
                                        </div>
                                        <div>
                                            <span><strong>Categoría: </strong></span>{{item.category}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 ch">
                    <div class="card p-3 h-100" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
                        <div class="fs-5 mb-2">
                            Finalizado
                        </div>
                        <div class="overflow-auto rounded">
                            <div class="card p-2 move-cursor mb-2" *ngFor="let item of done" cdkDrag>
                                <div class="d-flex flex-row align-items-center">
                                    <div>
                                        <img class="note-img me-3" [src]="item.image" loadImgError="assets/image-error.png">
                                    </div>
                                    <div class="flex-fill">
                                        <div>
                                            {{item.description}}
                                        </div>
                                        <hr class="mt-1 mb-1">
                                        <div>
                                            <span><strong>Nombre: </strong></span>{{item.name}}
                                        </div>
                                        <div>
                                            <span><strong>Categoría: </strong></span>{{item.category}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-column h-100 justify-content-center align-items-center" *ngIf="!(notesObservable|async)?.length">
    <div class="d-flex flex-column align-items-center card p-4">
        <div class="fs-1">
            <i class="bi bi-card-heading"></i>
        </div>
        <div class="fs-3 title-color">
            No hay notas por ordenar
        </div>
    </div>
</div>