<div class="fs-2 mb-4">
    Change Password
</div>

<div class="card p-4">
    <form [formGroup]="form">
        <div class="row mb-4">
            <div class="col-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text label-width">New Password *</span>
                    <input type="text" class="form-control" placeholder="New Password" formControlName="password" [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched">
                </div>
                <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger mt-1 error-size">
                    Please fill the required field
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text label-width">Confirm Password *</span>
                    <input type="text" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" [class.is-invalid]="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched">
                </div>
                <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" class="text-danger mt-1 error-size">
                    Please fill the required field
                </div>
            </div>
        </div>
    </form>
</div>

<div class="d-flex flex-row-reverse mt-4">
    <button type="button" class="btn btn-primary ms-3" (click)="save()">Save</button>
    <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancel</button>
</div>