.sidenav {
    width: 270px;
    position: fixed;
}

.sidenav-image {
    width: 50px;
    height: 50px;
}

.content {
    margin-left: 270px;
}

.custom-badge {
    width: 32px;
}

.title-color {
    color: #333333;
}

.ellipsis {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}