<div class="fs-2 mb-4">
    Cambiar contraseña
</div>

<div class="card p-4">
    <div *ngIf="incorrectConfirmation" class="text-danger mb-2 error-size2">
        Las contraseñas no coinciden
    </div>
    <form [formGroup]="form">
        <div class="row mb-4">
            <div class="col-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text label-width">Nueva contraseña *</span>
                    <input type="password" class="form-control" placeholder="Nueva contraseña" formControlName="password" [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched || incorrectConfirmation">
                </div>
                <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched" class="text-danger mt-1 error-size">
                    Por favor llene el campo requerido
                </div>
            </div>
            <div class="col-12 mb-3">
                <div class="input-group">
                    <span class="input-group-text label-width">Confirmar contraseña *</span>
                    <input type="password" class="form-control" placeholder="Confirme su contraseña" formControlName="confirmPassword" [class.is-invalid]="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched || incorrectConfirmation">
                </div>
                <div *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched" class="text-danger mt-1 error-size">
                    Por favor llene el campo requerido
                </div>
            </div>
        </div>
    </form>
</div>

<div class="d-flex flex-row-reverse mt-4">
    <button type="button" class="btn btn-primary ms-3" (click)="save()">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="cancel()">Cancelar</button>
</div>